$primary-col:#00a1d1;
$secondary-col:#4a4a4a;
$white:#ffffff;
$gray:#747474;
$contact-background:#e9e9e9;
$selected-col:#008ab3;
$dropdown-col:#333333;


$content-width: 1024px;
$breakpoint: 769px;
$breakpoint-mob:640px;
$breakpoint-small:350px;
$nav-height: 75px;