@font-face {
	font-family: 'Roboto-regular';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-bold';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
